.DS_Store
client/NewTelasco/Telasco.xcodeproj/project.xcworkspace/xcshareddata/
client/NewTelasco/Telasco.xcodeproj/project.xcworkspace/xcuserdata/telascocommunications.xcuserdatad/UserInterfaceState.xcuserstate
client/NewTelasco/Telasco.xcodeproj/project.xcworkspace/xcuserdata/telascocommunications.xcuserdatad/UserInterfaceState.xcuserstate
